@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* global */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #fff;
    --black-100: #6f6aa3;
    --back-900: #454268;
    --dark-700: rgba(3, 0, 5, 0.05);
    ;
    --green-900: #09A892;
    --orange: #E4910C;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 20px;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}


/* header */
header {
    height: 5rem;
    width: 100%;
    background: var(--black-100);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
}

header img {
    width: 80px;
    height: auto;
    cursor: pointer;
    margin-left: 2rem;
}

.mobile-menu{
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--white);
    margin: 8px;
}
/* nav */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

header h4 {
    margin-right: 2rem;
    font-size: 15px;
}

.menu li {
    list-style: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.menu li:hover {
    color: var(--orange);
}

/* inicio */
.home {
    height: auto;
    width: 100%;
    display: flex;
    background: #F7ECFE;
    flex-direction: column;
    padding-top: 5rem;
}

.carousel-inner {
    position: relative;
    z-index: 1;
}

.offerContainer {
    width: 100%;
    height: 5rem;
    background-color: var(--dark-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.itensContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.itensContent ion-icon {
    margin-right: 1rem;
    color: var(--back-900);
    font-size: 40px;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    color: var(--back-900);
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 18rem;
    justify-content: center;
    color: var(--back-900);
}

.titleContainer ion-icon {
    font-size: 50px;
    margin-right: 1rem;
}

.cardofferContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cardofferContent {
    width: 18rem;
    height: 22rem;
    background-color: var(--dark-700);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.cardofferContent .icon {
    width: 80px;
    height: auto;
    color: crimson;
    display: inline-flex;
    position: absolute;
    top: -30px;
    left: -30px;
}

.cardofferContent img {
    width: 12rem;
    height: auto;
    margin: auto;
}

.titlecard {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.titleoffer {
    font-size: 1rem;
    text-align: center;
    color: crimson;
    text-decoration-line: line-through;
}

.titleprice {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

/* Sobre */
.about {
    height: auto;
    width: 100%;
    display: flex;
    background: #F7ECFE;
    flex-direction: column;
}

.titleContainer2 {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: 18rem;
    justify-content: center;
    color: var(--back-900);
    margin-top: 10rem;
}

.titleContainer2 ion-icon {
    font-size: 50px;
    margin-right: 1rem;
}

.aboutContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aboutAnimals {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    top: -100px;
}


.aboutAnimals img {
    width: 10rem;
    height: auto;
}

.aboutContent {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 15px;
    padding: 3rem 7rem;
    text-align: center;
    color: var(--back-900);
}

.aboutContent h1 {
    margin-bottom: 3rem;
    font-weight: 700;
}

.cardPersonContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cardPersonContent {
    width: 20rem;
    height: 27rem;
    background-color: var(--dark-700);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--white);
}

.cardPersonContent img {
    width: 11rem;
    height: auto;
    margin: auto;
}

.cardPersonContent .titlecard {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.textPerson {
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

/* Contato */

.contact {
    height: auto;
    width: 100%;
    display: flex;
    background: #F7ECFE;
    flex-direction: column;
}

.contactContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
}

.leftContent {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.titleContact {
    font-size: 3rem;
    font-weight: 500;
    color: var(--back-900);
    margin-bottom: 5rem;
}

.leftContent iframe {
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 20px;
}

.rightContent {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.cardContactContainer {
    width: 70%;
    height: 20rem;
    background-color: var(--white);
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cardContactContent {
    margin: 1.5rem 4rem;
    display: flex;
    flex-direction: row;
}

.cardContactContent ion-icon {
    font-size: 40px;
    margin-right: 1rem;
    color: var(--back-900);
}

.cardContactContent p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--back-900);
}

footer {
    background-color: var(--black-100);
}

.footerContainer {
    width: 100%;
    height: auto;
    background-color: var(--dark-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footerContent {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContent h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

.footerContent p {
    font-size: 0.8rem;
    color: var(--white);
    text-align: center;
    opacity: 0.8;
}

.footerBottom {
    width: 100%;
    height: 2rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footerContent div {
    display: flex;
    flex-direction: row;
}

.footerContent div ion-icon {
    color: var(--white);
    font-size: 20px;
    margin-right: 1rem;
}

.service {
    height: auto;
    width: 100%;
    display: flex;
    background: #F7ECFE;
    flex-direction: column;
}

.serviceContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cardserviceContent {
    width: 20rem;
    height: 28rem;
    background-color: var(--dark-700);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.cardserviceContent img {
    width: 15rem;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.titleCardService {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: var(--back-900);
}

.titleService {
    font-size: 0.8rem;
    color: var(--back-900);
    margin: 1rem;
    text-align: center;
}

.plansContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 5rem;
}

.cardplansContent {
    width: 22rem;
    background-color: var(--dark-700);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}

.cardplansContent ul {
    font-size: 0.9rem;
    margin: 1rem 1rem 1rem 2rem;
}

.cardplansContent img {
    width: 10rem;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 0rem;
}

.cardplansContent .titleCardService {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--back-900);
    margin: 3rem;
}

.cardplansContent button {
    width: 10rem;
    height: 3rem;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    color: var(--back-900);
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem;
    opacity: 0.8;
    transition: all 0.5s;
}

.cardplansContent button:hover {
    opacity: 1;
}

.cardplansContent:nth-child(1) img {
    top: -0.5rem;
}

.cardplansContent:nth-child(2) img {
    top: -5.4rem;
}

.cardplansContent:nth-child(3) img {
    top: -3.5rem;
}

.cardplansContent:nth-child(2) .titleCardService {
    color: var(--orange);
}

.cardplansContent:nth-child(2) button {
    background-color: var(--orange);
    color: var(--white);
}

.titleContainer3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 23rem;
    justify-content: center;
    color: var(--back-900);
    margin-bottom: 5rem;
}

.titleContainer3 ion-icon {
    font-size: 50px;
    margin-right: 1rem;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .menu{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background-color: var(--black-100);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .menu li{
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }
    .menu.active{
        transform: translateX(0%);
    }

}
@media (max-width: 768px) {
    .cardofferContainer {
        flex-direction: column;
    }
    h1{
        font-size: 1.5rem!;
    }
    .titleContact{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    .cardofferContent {
        width: 70%;
        margin-bottom: 2rem;
    }
    .itensContent ion-icon{
        font-size: 30px;
    }
    .titleContainer ion-icon{
        font-size: 35px;
    }
    .titleContainer2 ion-icon{
        font-size: 35px;
    }
    .titleContainer3 ion-icon{
        font-size: 35px;
    }
    .aboutAnimals{
        top: -70px;
    }
    .aboutAnimals img{
        width: 7rem;
    }
    .cardPersonContainer{
        flex-direction: column;
    }
    .cardPersonContent{

        margin-bottom: 2rem;
    }
    .contactContainer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .cardContactContainer {
        width: 150%;
    }
    .cardContactContent ion-icon{
        font-size: 30px;
    }
    .leftContent iframe {
        width: 150%;
        height: 150%;
        border: none;
        border-radius: 20px;
    }
    .serviceContainer{
        flex-direction: column;
        align-items: center;
    }
    .cardserviceContent{
        width: 80%;
        margin-bottom: 2rem;
    }
    .plansContainer{
        flex-direction: column;
    }
    .cardplansContent{
        width: 80%;
        margin-bottom: 10rem;
    }
    .cardplansContent img {
        width: 8rem;
        margin: auto;
        position: relative;
        top: 0rem;
    }
    
    .cardplansContent:nth-child(1) img {
        top: -3.5rem;
    }
    
    .cardplansContent:nth-child(2) img {
        top: -4.5rem;
    }
    
    .cardplansContent:nth-child(3) img {
        top: -4.8rem;
    }
    .footerContent h3{
        font-size: 1rem;
    } 
}

@media (max-width: 660px) {
    h1{
        font-size: 1.5rem;
    }
    .titleContact{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .itens p{
        font-size: 0.6rem;
    }
    .aboutContent {
        width: 90%;
        padding: 1rem 4rem;
    }
    .cardContactContent p{
        font-size: 0.8rem;
    }
    .footerBottom p{
        font-size: 0.6rem;
    }
}

@media (max-width: 435px) {
    h1{
        font-size: 1.4rem;
    }
    .titleContact{
        font-size: 1.4rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .footerContent h3{
        font-size: 0.8rem;
    }
    .footerContent p{
        font-size: 0.6rem;
    }
}
